phidata
python-dotenv
packaging
fastapi
groq 
openai
mysql-connector-python 
google-generativeai
pymysql
sqlalchemy
Jinja2
flask
pydantic
python-dotenv
descope
fastmcp
mcp
nest_asyncio
uvicorn
typing
flask[async]
